# dependencies
node_modules

# env files
.env

# logs
logs
*.log

# uploads
uploads

# build folders
dist
build

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode

# coverage
coverage

# audit reports
enterprise_audit_and_reforms_report.md